[package]
name = "duckdb"
version = "0.4.0"
authors = ["wangfenjin <wangfenj@gmail.com>"]
edition = "2021"
description = "Ergonomic wrapper for DuckDB"
repository = "https://github.com/wangfenjin/duckdb-rs"
homepage = "https://github.com/wangfenjin/duckdb-rs"
documentation = "http://docs.rs/duckdb/"
readme = "README.md"
keywords = ["duckdb", "database", "ffi"]
license = "MIT"
categories = ["database"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "duckdb"

[workspace]
members = ["libduckdb-sys"]

[features]
default = []
bundled = ["libduckdb-sys/bundled"]
buildtime_bindgen = ["libduckdb-sys/buildtime_bindgen"]
modern-full = [
    "chrono",
    "serde_json",
    "url",
    "r2d2",
    "uuid",
]

[dependencies]
# time = { version = "0.3.2", features = ["formatting", "parsing"], optional = true }
hashlink = "0.8"
chrono = { version = "0.4.22", optional = true }
serde_json = { version = "1.0", optional = true }
csv = { version = "1.1", optional = true }
url = { version = "2.1", optional = true }
lazy_static = { version = "1.4", optional = true }
byteorder = { version = "1.3", features = ["i128"], optional = true }
fallible-iterator = "0.2"
fallible-streaming-iterator = "0.1"
memchr = "2.3"
uuid = { version = "1.0", optional = true }
smallvec = "1.6.1"
cast = { version = "0.3", features = ["std"] }
arrow = { version = "20", default-features = false, features = ["prettyprint", "ffi"] }
rust_decimal = "1.14"
strum = { version = "0.24", features = ["derive"] }
r2d2 = { version = "0.8.9", optional = true }

[dev-dependencies]
doc-comment = "0.3"
tempfile = "3.1.0"
lazy_static = "1.4"
regex = "1.6"
uuid = { version = "1.0", features = ["v4"] }
unicase = "2.6.0"
rand = "0.8.3"
tempdir = "0.3.7"
# criterion = "0.3"

# [[bench]]
# name = "data_types"
# harness = false

[dependencies.libduckdb-sys]
path = "libduckdb-sys"
version = "0.4.0"

[package.metadata.docs.rs]
features = []
all-features = false
no-default-features = true
default-target = "x86_64-unknown-linux-gnu"

[package.metadata.playground]
features = []
all-features = false