[package]
name = "duckdb"
version = "0.1.2"
authors = ["wangfenjin <wangfenj@gmail.com>"]
edition = "2018"
description = "Ergonomic wrapper for DuckDB"
repository = "https://github.com/wangfenjin/duckdb-rs"
homepage = "https://github.com/wangfenjin/duckdb-rs"
documentation = "http://docs.rs/duckdb/"
readme = "README.md"
keywords = ["duckdb", "database", "ffi"]
license = "MIT"
categories = ["database"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "duckdb"

[workspace]
members = ["libduckdb-sys"]

[features]
default = ["modern-full"]
bundled = ["libduckdb-sys/bundled"]
buildtime_bindgen = ["libduckdb-sys/buildtime_bindgen"]
modern-full = [
    "chrono",
]

[dependencies]
time = { version = "0.3", optional = true }
bitflags = "1.2"
hashlink = "0.7"
chrono = { version = "0.4", optional = true }
serde_json = { version = "1.0", optional = true }
csv = { version = "1.1", optional = true }
url = { version = "2.1", optional = true }
lazy_static = { version = "1.4", optional = true }
byteorder = { version = "1.3", features = ["i128"], optional = true }
fallible-iterator = "0.2"
fallible-streaming-iterator = "0.1"
memchr = "2.3"
uuid = { version = "0.8", optional = true }
smallvec = "1.6.1"
cast = { version = "0.2", features = ["std", "x128"] }
arrow = { version = "5.0", default-features = false, features = ["prettyprint"] }
# arrow = { path = "../arrow-rs/arrow", default-features = false }
rust_decimal = "1.14"

[dev-dependencies]
doc-comment = "0.3"
tempfile = "3.1.0"
lazy_static = "1.4"
regex = "1.3"
uuid = { version = "0.8", features = ["v4"] }
unicase = "2.6.0"
rand = "0.8.3"
# criterion = "0.3"

# [[bench]]
# name = "data_types"
# harness = false

[dependencies.libduckdb-sys]
path = "libduckdb-sys"
version = "0.1.1"

[package.metadata.docs.rs]
features = []
all-features = false
no-default-features = true
default-target = "x86_64-unknown-linux-gnu"

[package.metadata.playground]
features = []
all-features = false