name: CD

on:
  push:
    tags: ["*"]
env:
  RUST_BACKTRACE: 1
jobs:
  Release:
    name: Cargo Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: publish crates
        uses: katyo/publish-crates@v2
        with:
          path: "./"
          args: --no-verify --allow-dirty --all-features
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          ignore-unpublished-changes: true

# NOTE: After running this action, manually create a new release via https://github.com/duckdb/duckdb-rs/releases/new
# TODO: Automate the entire release process
