name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  RUST_BACKTRACE: 1
jobs:
  test:
    name: Test ${{ matrix.target }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - { target: x86_64-pc-windows-msvc, os: windows-latest, duckdb: libduckdb-windows-amd64.zip }
          - { target: x86_64-unknown-linux-gnu, os: ubuntu-latest, duckdb: libduckdb-linux-amd64.zip }
          #- { target: x86_64-apple-darwin, os: macos-latest }
          #- {
              #target: x86_64-pc-windows-gnu,
              #os: windows-latest,
              #host: -x86_64-pc-windows-gnu,
            #}

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      # This has a matcher for test panics, so we use it even though elsewhere
      # we use actions-rs/toolchain.
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable${{ matrix.host }}
          targets: ${{ matrix.target }}
          components: 'rustfmt, clippy'
      # download libduckdb
      - uses: robinraju/release-downloader@v1.4
        name: Download duckdb
        with:
          repository: "duckdb/duckdb"
          tag: "v0.7.1"
          fileName: ${{ matrix.duckdb }}
          out-file-path: .

      # For Linux
      - name: Linux extract duckdb
        if: matrix.os == 'ubuntu-latest'
        uses: ihiroky/extract-action@v1
        with:
          file_path: ${{ github.workspace }}/${{ matrix.duckdb }}
          extract_dir: libduckdb
      - run: cargo fmt --all -- --check
        if: matrix.os == 'ubuntu-latest'
      - run: cargo clippy --all-targets --workspace --all-features -- -D warnings -A clippy::redundant-closure
        if: matrix.os == 'ubuntu-latest'
        name: run cargo clippy
        env:
          DUCKDB_LIB_DIR: ${{ github.workspace }}/libduckdb
          DUCKDB_INCLUDE_DIR: ${{ github.workspace }}/libduckdb
          LD_LIBRARY_PATH: ${{ github.workspace }}/libduckdb
      - name: Run cargo-tarpaulin
        if: matrix.os == 'ubuntu-latest'
        uses: actions-rs/tarpaulin@v0.1
        with:
          # Intentionally omit time feature until we're on time 0.3, at which
          # point it should be added to `bundled-full`.
          args: '--features "buildtime_bindgen modern-full vtab-full" --avoid-cfg-tarpaulin' # TODO restore to normal (https://github.com/xd009642/tarpaulin/issues/756#issuecomment-838769320)
          version: 0.22.0
        env:
          DUCKDB_LIB_DIR: ${{ github.workspace }}/libduckdb
          DUCKDB_INCLUDE_DIR: ${{ github.workspace }}/libduckdb
          LD_LIBRARY_PATH: ${{ github.workspace }}/libduckdb
      - name: Upload to codecov.io
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v1

      # For windows
      - name: Windows extract duckdb
        if: matrix.os == 'windows-latest'
        uses: DuckSoft/extract-7z-action@v1.0
        with:
          pathSource: D:\a\duckdb-rs\duckdb-rs\${{ matrix.duckdb }}
          pathTarget: ${{ github.workspace }}/libduckdb

      - name: Add path to PATH environment variable
        if: matrix.os == 'windows-latest'
        uses: myci-actions/export-env-var-powershell@1
        with:
          name: PATH
          value: $env:PATH;${{ github.workspace }}/libduckdb
      - name: Run cargo-test
        if: matrix.os == 'windows-latest'
        run: cargo test --features "modern-full vtab-full"
        env:
          DUCKDB_LIB_DIR: ${{ github.workspace }}/libduckdb
          DUCKDB_INCLUDE_DIR: ${{ github.workspace }}/libduckdb

  Windows:
    name: Windows build from source
    needs: test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" | Out-File -FilePath $env:GITHUB_ENV -Append
      - run: vcpkg install openssl:x64-windows-static-md
      # - run: choco install openssl
      # - run: echo 'OPENSSL_DIR=C:\Program Files\OpenSSL-Win64' | Out-File -FilePath $env:GITHUB_ENV -Append
      - uses: actions/cache@v3
        with:
          path: ~/.cargo/registry/index
          key: index-${{ runner.os }}-${{ github.run_number }}
          restore-keys: |
            index-${{ runner.os }}-
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable
          targets: x86_64-pc-windows-msvc
      - run: cargo test --features "modern-full extensions-full"

  Sanitizer:
    name: Address Sanitizer
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Need nightly rust.
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly
          components: rust-src
      - name: Tests with asan
        env:
          RUSTFLAGS: -Zsanitizer=address
          RUSTDOCFLAGS: -Zsanitizer=address
          ASAN_OPTIONS: "detect_stack_use_after_return=1:detect_leaks=1"
          # Work around https://github.com/rust-lang/rust/issues/59125 by
          # disabling backtraces. In an ideal world we'd probably suppress the
          # leak sanitization, but we don't care about backtraces here, so long
          # as the other tests have them.
          RUST_BACKTRACE: "0"
        run: cargo -Z build-std test --features "modern-full extensions-full" --target x86_64-unknown-linux-gnu

      - uses: wangfenjin/publish-crates@main
        name: cargo publish --dry-run
        with:
          path: './'
          args: --allow-dirty --all-features
          dry-run: true
          ignore-published: true
